<div class="row">
  <div class="col-lg-9">
    <h4>Services</h4>
    <table>
  <thead>
    <tr>
      <th>Skill</th>
      <th>Member</th>
      <th>Description</th>
      <th>Price</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Service.all.each do |service| %>
      <tr>
        <td><%= service.skill %></td>
        <td><%= service.member %></td>
        <td><%= service.description %></td>
        <td><%= service.price %></td>
        <td><%= service.status %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
  <%= form_for Service.new do |f| %>

  <div class="col-lg-3">
    <h4>New service</h4>
     <div class="field">
      <%= f.label :skill_id %><br>
      <%= f.text_field :skill_id %>
    </div>
    <div class="field">
      <%= f.label :member_id %><br>
      <%= f.text_field :member_id %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :price %><br>
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :status %><br>
      <%= f.text_field :status %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
</div>


<% end %>
