<p id="notice"><%= notice %></p>

<p>
  <strong>Skill:</strong>
  <%= @service.skill %>
</p>

<p>
  <strong>Member:</strong>
  <%= @service.member %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @service.status %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
