<%= simple_form_for @order do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-default">
          <div class="panel-heading">
              Order: <b><%= "COD0#{@order.id}" %></b>
              <span class="pull-right">Created ad: <b><%= @order.created_at %></b></span>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-2">
                <p>
                   Fulando de tal <br>
                  <small class="text-muted">Skill de Fulano</small>
                </p>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                <%= f.collection_select(:client_id, Client.all, :id, :name, {}, { class:'form-control' }) %>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <select class="form-control">
                      <option>-- Payment method --</option>
                      <option>A vista</option>
                      <option>Cartão de crédito</option>
                      <option>Boleto bancário</option>
                      <option>Cheque</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-calendar"></i> Deadline
                  </span>
                  <%= f.date_field :deadline, class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group input-group">
                <span class="input-group-addon">
                  <i class="fa fa-pencil"></i> Description:
                </span>
                <%= f.text_field :description, class: 'form-control', placeholder: 'Escreva aqui informações importantes sobre esta ordem...' %>
              </div>
              </div>
            </div>
            <hr>
            <%= f.fields_for :services do |f_s| %>
              <%= render partial: "orders/shared/service", locals: { f: f_s } %>
            <% end %>

          </div>
          <div class="panel-footer">
              <%= link_to 'Back', orders_path, class: 'btn btn-default' %>
              <%= f.submit 'Create order', class: 'btn btn-success pull-right' %>
          </div>
      </div>
  </div>
</div>

<% end %>