<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Clients
                <%= link_to 'New Client', new_client_path, class: 'btn btn-success btn-sm pull-right', style: 'margin-top:-5px' %>
            </div>
            <div class="panel-body">
                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                <div class="col-sm-6">
                <div class="dataTables_length" id="dataTables-example_length">
                <label>
                Show
                  <select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  entries
                </label>
                </div>
                </div>
                <div class="col-sm-6"><div id="dataTables-example_filter" class="dataTables_filter">
                <%= form_tag search_path, method: :get do %>
                    <%= text_field_tag(:q, params[:q], {class: "form-control input-sm", placeholder: "Search..."}) %>
                <% end %>
                </div></div></div><div class="row"><div class="col-sm-12"><table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                    <thead>
                        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending" style="width: 167px;" aria-sort="ascending">Name</th><th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 205px;">Email</th><th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 190px;">Phone</th><th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 144px;">Fiscal Number</th></tr>
                    </thead>
                <tbody>
                  <% @clients.each do |client| %>
                    <% unless client.email.blank? %>
                     <tr class="gradeA odd" role="row">
                        <td class="sorting_1"><%= link_to client.name, client %></td>
                        <td class="text-center">
                        <% unless client.website.blank? %>
                          <%= link_to client.website, target: '_blank', class: 'btn btn-social-icon btn-sm btn-vk' do %>
                            <i class="fa fa-link"></i>
                          <% end %>
                        <% end %>
                        <% unless client.email.blank? %>
                          <%= mail_to client.email, class: 'btn btn-social-icon btn-sm btn-tumblr' do %>
                            <i class="fa fa-envelope"></i>
                          <% end %>
                        <% end %>
                        </td>
                        <td><%= client.phone %></td>
                        <td><%= client.fiscal_number %></td>
                    </tr>
                    <% end %>
                  <% end %>
                </tbody>
                </table></div></div><div class="row"><div class="col-sm-6"><div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-6"><div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                <%= paginate @clients %>
                </div></div></div></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>