<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Skills
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                          <% @skills.each do |skill| %>
                            <% unless skill.icon.blank? %>
                                <tr>
                                    <td><i class="<%= skill.icon %>"></i></td>
                                    <td><%= skill.title %> <b class="text-muted">(<%= skill.members_count %>)</b></td>
                                    <td><%= skill.description %></td>
                                    <td style="width:67px">
                                      <%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_skill_path(skill), class: 'btn btn-warning btn-xs' %>
                                      <%= link_to "<i class='fa fa-trash'></i>".html_safe, skill, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
                                    </td>
                                </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                New skill
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <%= form_for(@skill) do |f| %>
                <% if @skill.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

                    <ul>
                    <% @skill.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="form-group">
                  <%= f.text_field :title, class: 'form-control', placeholder: 'Skill title...' %>
                </div>
                <div class="form-group">
                  <%= f.text_field :icon, class: 'form-control', placeholder: 'Icon...' %>
                </div>
                <div class="form-group">
                  <%= f.text_area :description, class: 'form-control', placeholder: 'Description...' %>
                </div>
                <div class="actions">
                  <%= f.submit 'Save', class: 'btn btn-primary btn-block' %>
                </div>
              <% end %>
            </div>

            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>