<p>
  <strong>Title:</strong>
  <%= @skill.title %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @skill.icon %>
</p>

<p>
  <strong>Description:</strong>
  <%= @skill.description %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
