<%= form_for @client, html: { multipart: true } do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        Curriculo
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group input-group">
              <span class="input-group-addon">
                <i class="fa fa-font"></i>
              </span>
              <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
            </div>
            <div class="form-group input-group">
              <span class="input-group-addon">
                <i class="fa fa-envelope"></i>
              </span>
              <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
            </div>
            <div class="form-group input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-asterisk  "></i>
              </span>
              <%= f.text_field :fiscal_number, class: 'form-control', placeholder: 'Fiscal number' %>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group input-group">
              <span class="input-group-addon">
                <i class="fa fa-link"></i>
              </span>
              <%= f.url_field :website, class: 'form-control', placeholder: 'ex: http://www.yoursite.com' %>
            </div>
            <div class="form-group input-group">
              <span class="input-group-addon">
                <i class="fa fa-phone"></i>
              </span>
              <%= f.text_field :phone, class: 'form-control', placeholder: 'Phone' %>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
              <div class="form-group input-group">
                <span class="input-group-addon">
                  <i class="fa fa-map-marker"></i>
                </span>
                <%= f.text_field :address, class: 'form-control', placeholder: 'Location (ex: São Paulo, Brasil)' %>
              </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                  <label>Enviar logo da empresa</label>
                  <%= f.file_field :image %>
              </div>
            </div>
          </div>
        </div>
      <div class="panel-footer">
        <%= link_to 'Back', clients_path, class: 'btn btn-default' %>
        <%= f.submit 'Save changes', class: 'btn btn-success pull-right' %>
      </div>
    </div>
  </div>
<% end %>
