<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Profile
      </div>
      <div class="panel-body">
          <p class="text-center">
            <%= image_tag @client.image.url(:medium), class: 'img-rounded', style: 'width: 38% !important' %>
          </p>
          <p class="text-center lead"><%= @client.name %> <br>
            <small style="font-size:14px" class="text-muted"><%= @client.address %></small>
          </p>
          <hr>
          <p>
            <a href="<%= @client.website %>" target="_blank" class="btn btn-block btn-social btn-vk">
                  <i class="fa fa-link"></i> Website
            </a>

            <a href="mailto:<%= @client.email %>" class="btn btn-block btn-social btn-tumblr">
                <i class="fa fa-envelope"></i> Email
            </a>
          </p>
          <hr>
          <p>
          <%= link_to 'Excluir este cliente', @client, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block btn-sm' %>
            </a>
          </p>
      </div>

    </div>
  </div>

  <%= render partial: "form" %>
</div>