<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-lg-6">
  <div class="form-group">
    <%= f.label :client_id %><br>
    <%= f.collection_select(:client_id, Client.all, :id, :name, {}, { class:'form-control' }) %>
  </div>
  <div class="form-group">
    <%= f.text_field :payment, class: 'form-control', placeholder: 'Payment method' %>
  </div>
  <div class="form-group">
    <%= f.text_field :deadline, class: 'form-control datepicker' %>
  </div>
  <div class="form-group">
    <%= f.collection_select(:skill_id, Skill.all, :id, :title, {}, { class:'form-control' }) %>
  </div>
  <div class="form-group">
    <%= f.collection_select(:member_id, Member.all, :id, :name, {}, { class:'form-control' }) %>
  </div>
  <div class="form-group">
    <%= f.text_field :description, class: 'form-control', placeholder: 'Description' %>
  </div>
  <div class="form-group">
    <%= f.text_field :price, class: 'form-control', placeholder: 'Price' %>
  </div>
  <div class="form-group">
    <%= f.text_field :status, class: 'form-control', placeholder: 'Status' %>
  </div>
  <div class="form-group">
    <%= link_to 'Back', orders_path, class: 'btn btn-default' %>
    <%= f.submit 'Save', class: 'btn btn-primary'   %>

  </div>
<% end %>
</div>