
<%= form_for @member, html: { multipart: true } do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>


    </div>
  <% end %>

  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        Curriculo
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group input-group">
              <span class="input-group-addon">
                <i class="fa fa-font"></i>
              </span>
              <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
            </div>
            <div class="form-group input-group">
              <span class="input-group-addon">
                <i class="fa fa-envelope"></i>
              </span>
              <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
            </div>
            <div class="form-group input-group">
              <span class="input-group-addon">
                <i class="fa fa-phone"></i>
              </span>
              <%= f.text_field :phone, class: 'form-control', placeholder: 'Phone' %>
            </div>
            <div class="form-group input-group">
              <span class="input-group-addon">
                <i class="fa fa-mortar-board"></i>
              </span>
              <%= f.text_field :degree, class: 'form-control', placeholder: 'Degree' %>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group input-group">
              <span class="input-group-addon">
                <i class="fa fa-link"></i>
              </span>
              <%= f.url_field :portfolio, class: 'form-control', placeholder: 'ex: http://www.yourportfolio.com' %>
            </div>
            <div class="form-group input-group">
              <span class="input-group-addon">
                <i class="fa fa-map-marker"></i>
              </span>
              <%= f.text_field :location, class: 'form-control', placeholder: 'Location (ex: São Paulo, Brasil)' %>
            </div>
            <div class="form-group input-group">
              <span class="input-group-addon">
                <i class="fa fa-github-alt"></i>
              </span>
              <%= f.url_field :github, class: 'form-control', placeholder: 'ex: http://www.github.com/username' %>
            </div>
            <div class="form-group">

              <%= f.collection_select(:skill_id, Skill.all, :id, :title, {}, { class:'form-control' }) %>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group input-group">
                <span class="input-group-addon">
                  <i class="fa fa-star-o"></i> Others skills:
                </span>
                <%= f.text_field :others_skills, class: 'form-control', placeholder: 'ex: HTML, CSS, Javascript, Photoshop, Redes sociais...' %>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                  <%= f.text_area :note, class: 'form-control', placeholder: 'About me...' %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                  <label>Alterar foto de perfil</label>
                  <%= f.file_field :image %>
              </div>
            </div>
          </div>
        </div>
      <div class="panel-footer">
        <%= link_to 'Back', members_path, class: 'btn btn-default' %>
        <%= f.submit 'Save changes', class: 'btn btn-success pull-right' %>
      </div>
    </div>
  </div>
<% end %>
