<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Profile
      </div>
      <div class="panel-body">
          <p class="text-center">
            <%= image_tag @member.image.url(:medium), class: 'img-rounded', style: 'width: 38% !important' %>
          </p>
          <p class="text-center lead"><%= @member.name %> <br>
            <small style="font-size:14px" class="text-muted"><%= @member.skill.title %> <%= @member.location %></small>
            <%= rating_for @member, "quality" %>
          </p>
          <hr>
          <p>
            <a href="<%= @member.portfolio %>" target="_blank" class="btn btn-block btn-social btn-vk">
                  <i class="fa fa-link"></i> Portfolio / Website
            </a>

            <a href="mailto:<%= @member.email %>" class="btn btn-block btn-social btn-tumblr">
                <i class="fa fa-envelope"></i> Email
            </a>

            <a href="<%= @member.github %>" target="_blank" class="btn btn-block btn-social btn-github">
                <i class="fa fa-github"></i> Github
            </a>
          </p>
          <hr>
          <p>
          <%= link_to 'Excluir este perfil', @member, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block btn-sm' %>
            </a>
          </p>
      </div>

    </div>
  </div>

  <%= render partial: "form" %>
</div>
