<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @member.degree %>
</p>

<p>
  <strong>Location:</strong>
  <%= @member.location %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @member.portfolio %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @member.skill %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @member.feedback %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @member.deadline %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @member.quality %>
</p>

<p>
  <strong>Others skills:</strong>
  <%= @member.others_skills %>
</p>

<p>
  <strong>Note:</strong>
  <%= @member.note %>
</p>

<p>
  <strong>Image:</strong>
  <%= @member.image %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
