<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Profile
      </div>
      <div class="panel-body">
          <p class="text-center">
            <img src="http://lorempixel.com/output/business-q-c-500-500-2.jpg" width="55%" class="img-rounded">
          </p>
          <p class="text-center lead"><%= @member.name %> <br>
            <small style="font-size:14px" class="text-muted"><%= @member.skill.title %> / <%= @member.location %></small>
          </p>
          <hr>
          <p>
            <a href="http://<%= @member.portfolio %>" target="_blank" class="btn btn-block btn-social btn-vk">
                  <i class="fa fa-link"></i> Portfolio / Website
            </a>

            <a href="mailto:<%= @member.email %>" class="btn btn-block btn-social btn-tumblr">
                <i class="fa fa-envelope"></i> Email
            </a>

            <a href="http://<%= @member.github %>" target="_blank" class="btn btn-block btn-social btn-github">
                <i class="fa fa-github"></i> Github
            </a>
          </p>
          <hr>
          <p>
          <%= link_to 'Excluir este perfil', @member, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block btn-sm' %>
            </a>
          </p>
      </div>

    </div>
  </div>

  <%= render partial: "form" %>
</div>




